.accountBox, .accountBox div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.accountBox{
  gap: 1rem;
}
.accountBox div{
  gap: 0.3rem;
}
.accountBox input{
  background: var(--input);
  padding: 8px 15px;
  border-radius: 4px;
}