.topSwiper {
  width: 100%;
  height: 450px;
  padding: 200px 0;
}

.topSlide {
  display: grid;
  width: calc(100% - 80px);
  padding: 40px;
  height: calc(100% - 80px);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.topSlide a{
  border-radius: 10px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.306);
  position: relative;
  width: 200px;
  bottom: 0;
  color: white;
}

.topSlide article {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.topSlide article i {
  font-size: 2rem;
}

.topSlide article p {
  display: flex;
  flex-direction: column;
}

.galleryBox{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  background: dodgerblue;
  padding: 20px;
  align-items: center;
  gap: 1rem;
  border-radius: 10px;
}
.galleryBox section img{
  width: 100%;
}
.galleryBox .mid{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.galleryBox .mid strong{
  font-size: 1.8rem;
}
.galleryBox .mid nav{
  display: flex;
  gap: 1rem;
}
.galleryBox .mid nav a{
  color: wheat;
  border-bottom: 1px solid wheat;
}

.productBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}
.productBox > *{
  text-align: center;
}

.productBox header {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: center;
  width: 100%;
}

.productBox header strong {
  font-size: 1.8rem;
}

.productBox header nav {
  display: flex;
  gap: 5rem;
  width: 100%;
  overflow: scroll;
}
.productBox header nav::-webkit-scrollbar{
  display: none;
}

.productBox header span {
  font-size: 1.2rem;
  min-width: max-content;
  color: rgb(70, 70, 70);
  cursor: pointer;
}

.productBox header span sub {
  height: 2px;
  width: 10px;
  background: black;
  display: block;
  transition: 0.4s ease;
}

.productBox header span:hover sub {
  width: 100%;
}

.categoryProducts{
  display: flex;
  width: 100%;
  overflow: auto;
  gap: 1rem;
}
.categoryProducts::-webkit-scrollbar{
  display: none;
}
.categoryProducts div{
  min-width: 180px;
  max-width: 180px;
  border-radius: 30px;
  padding: 20px;
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  justify-content: space-between;
  text-align: center;
}
.categoryProducts div h3{
  -webkit-line-clamp: 1;
  font-size: 1rem;
  font-weight: 400;
  color: var(--theme);
}
.categoryProducts div article{
  width: 100%;
}
.categoryProducts div img{
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.categoryProducts div nav{
  width: 100%;
  display: flex;
}
.categoryProducts div nav >*{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 4px;
}
.categoryProducts div nav >*:nth-child(1){
  border-radius: 40px 0 0 40px;
  border: 1px solid dodgerblue;
}
.categoryProducts div nav >*:nth-child(1) i{
  color: palevioletred;
}
.categoryProducts div nav >*:nth-child(2){
  border-radius: 0 40px 40px 0; 
  background: var(--theme);
  background: dodgerblue;
  color: white;
  font-size: 1rem;
}
.categoryProducts div nav >*:nth-child(2) i{
  font-size: 1.2rem;
}

@media all and (max-width:1100px) {
  .serviceBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
    padding: 0;
  }

  .productBox {
    align-items: flex-start;
  }
  .productBox header nav {
    gap: 2rem;
  }
  .offerBox{
    height: auto;
    grid-template-columns: repeat(2, 1fr);
  }
  .offerBox a{
    gap: 2rem;
    background-position: center;
    background-size: cover;
    justify-content: space-between;
  }
  .offerBox a legend{
    position: revert;
  }
}

@media all and (max-width:850px) {
  .topSwiper {
    height: 300px;
  }

  .categoryBox {
    gap: 1rem;
  }

  .categoryBox header {
    align-items: flex-start;
    flex-direction: column;
  }

  .categories {
    gap: 1rem;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .categories::-webkit-scrollbar{
    display: none;
  }
}

@media all and (max-width:800px) {
  .galleryBox{
    grid-template-columns: 1fr;
    position: relative;
    padding: 180px 20px 20px 20px;
  }
  .galleryBox section img{
    height: 150px;
    width: 40%;
    top: 20px;
    border-radius: 5px;
    position: absolute;
    object-fit: cover;
  }
  .galleryBox .left img:nth-child(1){
    left: 20px;
  }
  .galleryBox .right img:nth-last-child(1){
    right: 20px;
  }
}

@media all and (max-width:650px) {
  .galleryBox{
    padding: 130px 20px 20px 20px;
  }
  .galleryBox section img{
    height: 100px;
  }
  .serviceBox article {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .categoryBox header {
    align-items: center;
  }
}